.container.benefits{
  position: relative;
}
.benefits {
  display: flex;
  @include tablets{
   /* width: 730px; */}
    @include phones{
    flex-direction: column;
    /* width: 730px; */
    }
  }

.benefits-section{
  background: $white;
}
.benefits__item {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-right: 5%;
  position: relative;
  &:last-child{
    margin-right: 0;
    &:before {
      display: none;
    }
  }
  &:before {
    position: absolute;
    content: url(../img/before.png);
    top: rem(50px);
    right: rem(-15px);
    -webkit-transform: translate(50%);
    -ms-transform: translate(50%);
    transform: translate(50%);
    @include tablets{
      display:none;
    }
    
}
@include phones{
  margin-right: 0;
  flex-direction: row;
  margin-bottom: 40px;
  &:last-child{
    margin-bottom: 0;
  }

}
}
.benefits__element {
  height: rem(126px);
  width: rem(126px);
  background: $Whitesmoke;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(42px);
  @include tablets{
   margin-bottom: rem(30px);
  }
  @include phones{
    margin-bottom: 0;
    padding: rem(40px);
    margin-right: rem(15px);
  }
}
.benefits__icon {
  width: rem(60px);
  height: rem(55px);
}
.benefits__title {
  font-size: rem(24px);
  font-weight: 700;
  margin-bottom: rem(30px);
  @include tablets{
  margin-bottom: rem(15px);
  line-height: 24px;
  }
  @include phones{
  text-align: initial;
  }
}
.benefits__desc {
  color: #666666;
  line-height: rem(22px);

  @include tablets{
  font-size: rem(16px);
  }
  @include phones{
    text-align: initial;
  }
}
.benefits__icon {
  width: rem(55px);
  height: rem(50px);
}
