.hero{
  background-color:$Whitesmoke;
  position: relative;

  /*&:before{
    content: url("../img/element1.png");
    top: 98%;
    right: 28%;
    transform: translate(50%);
    position: absolute;
  }*/
}
.hero__content {
  margin-bottom: rem(95px);
  margin-top: rem(75px);
}

.hero__description {
  margin-bottom: rem(45px);
  //width: rem(325px);
  font-size: rem(18px);
}
.hero__container-header{
  width: 100%;
  position: absolute;
  z-index: 99; 
  @include tablets{
    width: 95%;
  }
}
.hero__wrapper{
  position:relative;
}
