.benefits {
  display: flex;
}
.benefits-section{
  background: $white;
}
.benefits__item {
  flex: 1;
  padding-right: 5%;
  position: relative;
  &:first-child{
    padding-left: 0;
  }
  &:last-child{
    padding-right: 0;
    &:before{
      display: none;
    }

  }
  &:before{
    position: absolute;
    content: url("../img/before.png");
    top: 50px;
    right: 23px;
    transform: translate(50%);
  }
  
}
.benefits__element {
  height: 126px;
  width: 126px;
  background: #f5f5f5;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-bottom: 45px;
  overflow: hidden;
}
.benefits__icon {
  width: 60px;
  height: 55px;
  position: absolute;
  top: 29%;
  left: 51%;
  transform: translate(-50%);
}
.benefits__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.benefits__desc {
  color: #666666;
  width: 300px;
}
.benefits__text {
  width: 283px;
}