
.command__avatar-img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.command__item-title {
  border: none;
  outline: none;
  background: transparent;
  margin-bottom: 20px;
  font-weight: 700;
  
}
.command__item .command__item-title{
  &:after{
    content: url(/img/polygon2.png);
    padding-left: 4px;
   
  }
}
.command__item.active .command__item-title{
  &:after{
    content: url(/img/polygon.png);
    padding-left: 4px;
  }
}

.command__avatar {
  width: 220px;
  height: 290px;
  margin-bottom: 30px;
}
.command__items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.command__item {
  margin-right: 20px;
  position: relative;
  flex: 1;
  text-align: center;
  max-width: rem(260px);
  display: flex;
  justify-content: center;
  &:last-child{
    margin-right: 0;
  }
  @include tablets{
    margin-right: 0;
  }
}
.command__content {
  text-align: center;
}
.command__subtitle {
  font-size: 16px;;
  color: #666666;
  margin-bottom: 1.66667rem;
}
.command__position{
  margin-bottom: 10px;
  font-size: 16px;
}

.command__items--version--desktop .command__text {
  position: absolute;
  top: 100%;
}
.command__text {
  overflow: hidden;
  transition: height .3s;
  height: 0;
}
.command__items--version--desktop{
  display: inline-flex;
  @include tablets{
    display: none;
  }
}
.command__items--version--mobile{
  display: none;
  @include tablets{
    display: inline-flex;
    flex-direction: column;
  }
}
.command__content{
  position: absolute;
  top: 100%;
}
.command__content-item{
  overflow: hidden;
  transition: height .3s;
  height: 0;
}