.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.socials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.socials__link {
  height: rem(35px);
  width: rem(35px);
  background-color: #d4ddf2;
  border-radius: 50%;
  display: block; }
