.features__item {
  display: flex;
  margin-right: 45px;
  &:last-child{
    margin-right: 0px;
  }
}
.features__list {
  display: flex;
  align-items: center;
}
.features__icon{
  padding-right: 10px;
}
.features__text {
  width: 100px;
  line-height: 20px;
}