.hero__icon-section{
  @include tablets{
    display: none;
  }
}
.features__item {
  display: flex;
  margin-right: rem(45px);
  &:last-child{
    margin-right: rem(0px);
  }
}
.features__list {
  display: flex;
  align-items: center;
}
.features__icon{
  padding-right: rem(10px);
}
.features__text {
  width: rem(100px);
  line-height: rem(20px);
}

.icon-features__img{
  width: 44px;
  height: 44px;
}