.hero__icon-section {
  display: flex;
  padding-bottom: 35px;
}
.features__item {
  display: flex;
}
.features__list{
  padding-right: 45px;
    &:last-child{
    padding-right: 0;
    }
}

.features__icon{
  padding-right: 10px;
}
.features__text {
  width: 100px;
}