.modal{
  display: none;

  &.error-modal{
    .modal__content{
      color: red;
      margin-bottom: 30px;
      @include tablets{
        text-align: center;
      }
    }
  }

  &.fancybox-content{
    padding: 0;
  }

  .fancybox-button{
    display: none;
  }
}
.modal__container{
background: #fff;
padding:  35px 60px;
display: flex;
flex-direction: column;
align-items: center;
}
.modal__content {
  color:black;
  margin-bottom: 10px;
}

.btn.button--red {
  text-decoration: none;
  font-weight: 700;
  margin-right: 0px;
}
.input-error{
  border-color: red;
  
}
.modal__content {
  margin-bottom: 30px;
}

.fancybox-active{
  height: inherit!important;
}



