.radio{
  display: flex;
  margin-right: rem(20px);
  
  cursor: pointer;
  user-select: none;
  &--checkbox{
    .radio__visible{
      border-radius: 0;
      &:before{
        border-radius: 0%;
      }
    }
    
  }
  &:last-child{
    padding-right: rem(0px);
    padding-bottom: rem(0px);
  }
  &.radio--checkbox{
    margin-bottom: rem(45px);
  }
}

.radio__element{
display: none;
  &:checked + .radio__visible{
    &::before{
    display: block;
    }
}
}
.radio__visible{
  width: rem(25px);
  height: rem(25px);
  position: relative;
  border-radius:50% ;
  background: $white;
  &:before{
  content: "";
  display: none;
  width: rem(14px);
  height: rem(14px);
  background: $red;
  border-radius:50% ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  }
}
.radio__title{
  color: $white;
  margin-left: rem(10px);
}

.button--red {
  padding: rem(20px) rem(40px);
  color: $white;
  border: rem(1px) solid transparent;
  border-radius: rem(40px);
  background: $red;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: rem(20px);
  &:hover{
    background: $hover;
  }
  @include tablets{
  margin-right: rem(45px);

  }
}
.button--transporent{
background: transparent;
color: #999999;
text-transform: none;
border: rem(1px) solid transparent;
padding: 0;
&:hover{
  color:$white
}
}