.reviews{
  background: $white;
  justify-content: center;
  position: relative;
}
.reviews__display-inner{
  background: $Whitesmoke;
  padding: rem(50px) rem(45px) rem(35px);
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  @include phones{
    padding: rem(50px) rem(35px) rem(60px);
  }
}
.reviews__display{
  position: relative;
  overflow: hidden;
  margin-bottom: rem(28px);
  &:before{
    content: "";
    width: rem(90px);
    height: rem(90px);
    background: $white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: rem(-65px);
  

  }
}
.reviews__display-avatar {
  margin-right: rem(20px);

  @include tablets {
    margin-right: 0;
    align-items: center;
    margin-bottom: 30px;
  }
  @include phones{
    margin-bottom: 0;
  }

}
.reviews__avatar-img {
  height: rem(260px);
  width: rem(255px);
  object-fit: cover;
  @include tablets {
    width: rem( 130px);
    height: rem( 132px);
  }

}

.reviews__title {
  font-size: rem(27px);
  font-weight: 700;
  margin-bottom: rem(30px);
  @include tablets {
    margin-bottom: rem(20px);
  }
}
.reviews__text {
  font-size: rem(18px);
  color: #666666;
  margin-bottom: rem(30px);
  @include tablets{
    margin-bottom: rem(20px);
    line-height: 23px;
  }
}
.reviews__name {
  font-size: rem(18px);
  font-weight: 700;
}
.reviews__switcher {

  display: flex;
  justify-content: center;
 
}
.reviews__item {
  position: absolute;
  opacity: 0;
  display:flex;
  @include tablets{
    flex-direction: column
  }
}
.reviews__item.active {
  opacity: 1;
  opacity: 1;
  position: static;
  pointer-events: unset;
}

